[project]
	description = Storage Performance Development Kit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/devilsgrotto
[access "refs/for/refs/*"]
	read = group user/devilsgrotto
	push = group user/devilsgrotto
	label-Code-Review = -2..+2 group user/devilsgrotto
	label-Verified = -1..+1 group user/devilsgrotto
	rebase = group user/devilsgrotto
	removeReviewer = group user/devilsgrotto
	submit = group user/devilsgrotto
[access "refs/heads/*"]
	read = group user/devilsgrotto
	create = group user/devilsgrotto
	push = +force group user/devilsgrotto
	pushMerge = group user/devilsgrotto
[access "refs/tags/*"]
	push = group user/devilsgrotto
	push = +force group user/devilsgrotto
